<html>
        <head></head>
        <body>
            <p>합, 곱, 차, 나누기</p>
            <p><%= @sum.to_s + ", " + @mul.to_s + ", " + @sub.to_s + ", " + @div.to_s + ", " + params[:num1].to_s + ", " + params[:num2].to_s %></p>
        </body>
</html>