<html>
    <head></head>
    <body>
        <ul>
            <li>Form이용해보기</li>
            <li>GET과 POST</li>
            <li>Parameter(wildcard)</li>
            <li>구글 / 네이버 검색창 만들기</li>
            <li>fake op.gg 만들기</li>
        </ul>
    </body>
</html>