--------@ GET 방식을 사용하는 경우 @-------------------------


<form action="https://search.naver.com/search.naver?">
    <input type="text" name="query" placeholder="네이버 검색창">
    <input type="submit" value="네이버검색하기" >
</form>


<form action="https://www.google.co.kr/search">
    <input type="text" name="q" placeholder="구글 검색창">
    <input type="submit" value="구글검색하기">
</form>




--------@ POST 방식을 사용하는 경우 @-------------------------

<form method="POST">
    <input type="hidden" name="engine" value="naver">
    <input type="text" name="query" placeholder="네이버 검색">
    <input type="submit" value="검색">
</form>

<form method="POST">
    <input type="hidden" name="engine" value="google">
    <input type="text" name="q" placeholder="구글 검색">
    <input type="submit" value="검색">
</form>