<html>
    <head>
        
    </head>
    <body>
        <form method="POST">
            ID : <input type="text" name="id">
            PW : <input type="password" name="pw">
        </form>
        <form method="GET" action="/user/new">
            <input type="submit" value="회원가입">
        </form>
    </body>
</html>